body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  vertical-align: top;
}

.id {
  width: 5%;
}

.term {
  width: 15%;
}

.desc {
  width: 50%;
}
.ref {
  width: 30%;
}